
@{
    ViewBag.Title = "Index";
}

<h2>View Pdf</h2>

<p>
    @Html.ActionLink("Add Picture", "Create", "PDF", new { id = "linkAddImage" }, null)|
    @Html.ActionLink("Delete Image", "Delete", "PDF", new { id = "linkAddImage" }, null)
</p>

@Html.Partial("~/Views/Shared/PDFPartial.cshtml")
